[submodule "lib/glfw-3.3-stable"]
	path = lib/glfw-3.3-stable
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
